Repository orbiternassp/NASSP, pull requests merged in 2022-02, with the labels that each got.

#688 Better CM aerodynamics
  Orbitersdk/samples/ProjectApollo/src_csm/saturnmesh.cpp
Labels: enhancement

#710 MCC: Fix Apollo 10 Block Data 1 calculation
  Orbitersdk/samples/ProjectApollo/src_launch/RTCC_Mission_F.cpp
Labels: bug

#711 Consume Ctrl-D undock key to prevent invalid probe state
  Orbitersdk/samples/ProjectApollo/src_csm/saturn.cpp
  Orbitersdk/samples/ProjectApollo/src_lm/LEM.cpp
Labels: Orbiter's fault, ignore changelog

#727 fix slow water dump for missions started from prelaunch
  Config/ProjectApollo/SaturnSystems.cfg
Labels: bug, systems, ignore changelog
